<div class="container-fluid" *ngIf="!isFormVisible">
  <div class="table-responsive my-md-4 my-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Number</th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; index as i">
          <td>{{ contact.id }}</td>
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.phone }}</td>
          <td>
            <div class="table-actions">
              <button class="btn mx-2 py-0" (click)="onEdit(contact)">
                Edit
              </button>
              <button class="btn mx-2 py-0" (click)="onDelete(i)">
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button (click)="onAddForm()" *ngIf="!isFormVisible">Add</button>
<div *ngIf="isFormVisible">
  <form [formGroup]="profileForm">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" />

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" />

    <label for="last-name">Phone: </label>
    <input id="last-name" type="text" formControlName="phone" />

    <button
      type="button"
      *ngIf="!isUpdate"
      (click)="onSave()"
      [ngClass]="profileForm.valid && profileForm.dirty ? 'save' : ''"
    >
      Save
    </button>
    <button
      type="button"
      *ngIf="isUpdate"
      (click)="onUpdate()"
      [ngClass]="profileForm.valid && profileForm.dirty ? 'save' : ''"
    >
      Update
    </button>
    <button type="button" (click)="onCancel()">cancel</button>
  </form>
</div>
